@model Ach.Fulfillment.Web.Areas.Manage.Models.UserModel

@Html.HiddenFor(model => model.UserId)

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Login)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Login)
    @Html.ValidationMessageFor(model => model.Login)
</div>

@if (!this.Model.UserId.HasValue)
{
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
}

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PartnerId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(m => m.PartnerId, new SelectList(this.Model.AvailablePartners, "Key", "Value"), "<< empty >>")
    @Html.ValidationMessageFor(model => model.PartnerId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.RoleId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(m => m.RoleId, new SelectList(this.Model.AvailableRoles, "Key", "Value"))
    @Html.ValidationMessageFor(model => model.RoleId)
</div>

@Html.Partial("_errorSummary")

