@using Ach.Fulfillment.Web.Areas.Manage.Models

@{
    ViewBag.Title = "Users List";
}

@section styles{
    @Styles.Render("~/Content/jqgrid", "~/Content/datatables")
}

<h2>User list</h2>

@{
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<UserGridModel>("users",
        dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
        methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
        pager: true,
        rowsNumber: 10,
        sortingName: "Name",
        sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
        url: Url.Action("List"),
        viewRecords: true,
        width: 800
      );
}

@grid.GetHtml()

<p>
    @Html.ActionLink("Create", "Create", "User")
</p>

<hr />

<table id="myDataTable" class="display table table-striped table-bordered">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Login</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody> 
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/bundles/iqgrid")
    @Scripts.Render("~/bundles/datatables")
    
    <script type="text/javascript">
        /* jqGrid */
        $(document).ready(function () {
            @grid.GetJavaScript()
          });
        
        /* datatables*/
        $(document).ready(function () {

            $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("List2")',
                "bProcessing": true,
                "sDom": "<'row'<'span4'l><'span5'f>r>t<'row'<'span4'i><'span5'p>>",
                "sPaginationType": "bootstrap",
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                      $.ajax( {
                        "dataType": 'json', 
                        "type": "POST", 
                        "url": sSource, 
                        "data": aoData, 
                        "success": fnCallback
                      } );
                    },
                "aoColumns": [
                                { "sName": "UserName",
                                    "bSearchable": true,
                                    "bSortable": true,
                                    "fnRender": function (oObj) {
                                        return '<a href=\"Edit/' + oObj.aData[0] + '\">' + oObj.aData[1] + '</a>';
                                    }
                                },
                                { "sName": "Login" },
                                { "sName": "Email" }
                            ]
            });
        }); 
    </script>
}
