@model Ach.Fulfillment.Web.Areas.Manage.Models.PartnerModel

@Html.HiddenFor(model => model.PartnerId)

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

@Html.Partial("_errorSummary")

